@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-radius: 5px;
  --background: #ffffff;
  --foreground: #1b1b1b;
  --primary: #8c5400;
  /*--text-color: #0006bd;*/
  --border-color: #aaaaaa;
}

@layer base {
  body {
    @apply text-foreground bg-background;
    @apply font-AveriaSerifLibre
  }

  header {
    @apply text-foreground bg-background;
    font-family: amiri, sans-serif;
  }

  footer {
    @apply text-foreground bg-background;
  }
}

@layer components {
  .container {
    @apply max-w-lg mx-auto;
  }

  .card {
    @apply border border-borderColor rounded-[var(--card-radius)];
  }

  .menu-card {
    @apply card py-4 flex gap-3 justify-center items-center transition-colors shadow-[inset_0_0_10px_rgba(0,0,0,0.15)];
  }
  .menu-card:hover {
    background: #fffdf7;
  }

  /* footer effect*/
  .footer-menu-item {
    @apply h-[75px] flex flex-col justify-center items-center transition-colors;
  }

  .footer-menu-item:hover {
    background: #fffdf7;
  }

  .footer-menu-item:hover .text {
    @apply text-foreground font-medium;
  }

  .footer-menu-item:hover .icon {
    @apply text-primary;
  }

  .footer-menu-item.active {
    background: #fffdf7;
  }

  .footer-menu-item .icon {
    @apply text-[24px] text-gray-500;
  }

  .footer-menu-item.active .icon {
    @apply text-primary;
  }

  .footer-menu-item .text {
    @apply mt-1 text-[12px] text-gray-500;
  }

  .footer-menu-item.active .text {
    @apply text-foreground font-medium;
  }
}

/*filter button*/
@layer components {
  .filter-btn {
    @apply card flex items-center justify-center py-1  transition-colors shadow-[inset_0_0_8px_rgba(0,0,0,0.10)];
    /*min-width: 70px;*/
    /*min-height: 50px;*/
    font-size: 14px;
    /*font-weight: bold;*/
  }

  .filter-btn:hover {
    background: #fffdf7;
  }

  .filter-btn.active {
    background: #fffdf7;
    @apply text-primary font-medium;
  }
}