@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-radius: 5px;
  --background: #ffffff;
  --foreground: rgb(34, 34, 34);
  --primary: #633800;
  --text-color: #f30000;
  --border-color: #9c9c9c;
  /*--border-color: #AFAFAF;*/
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*    --primary: #8D6900;*/
/*    --text-color: #5B5B5B;*/
/*    --border-color: #A1A1A1;*/
/*  }*/
/*}*/

header {
  color: var(--foreground);
  background: var(--background);
  font-family: amiri, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-AveriaSerifLibre
  /*font-family: ;*/
}

footer {
  color: var(--foreground);
  background: var(--background);
  /*font-family: "Averia Serif Libre", serif;*/
}

html, body {
  height: 100%;
  width: 100%;
}

.card {
  @apply border-[0.5px] border-borderColor rounded-[var(--card-radius)];
}

/*<div className="card italic text-center text-textColor border-[0.5px] border-borderColor rounded-[var(--card-radius)] px-8 py-8">*/


