@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-radius: 5px;
  --background: #FFFFFF;
  --foreground: #171717;
  --primary: #000000;
  --text-color: #000000;
  --border-color: #AFAFAF;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*    --primary: #8D6900;*/
/*    --text-color: #5B5B5B;*/
/*    --border-color: #A1A1A1;*/
/*  }*/
/*}*/

header {
  color: var(--foreground);
  background: var(--background);
  font-family: amiri, sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}